{% extends "base.twig" %}

{% block body %}
    <h1>{{ inventoryStatus.name | capitalize }} inventory</h1>
    {% for t in types %}
        {% set type = t[0] %}
        <table class ="table table-striped" >
            <caption>
                <h2>
                    {{ type.name }}
                    <span class="badge">
                        {{ type.product_count }}
                    </span>
                </h2>
            </caption>
            <tr>
                <th scope=col>Diopter</th>
                <th scope=col>Count</th>
            </tr>
            {% for p in t.products %}
                <tr>
                    <td>{{ p.SphCorrected | number_format(1, '.', ',') }}</td> <td>{{ p.total }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}
