{% extends "base.twig" %}

{% block body %}
    <h1>{{ inventoryStatus.name | capitalize }} inventory</h1>
    {% for t in types %}
        {% set type = t[0] %}
        <table class ="table table-striped" >
            <caption>
                <h2>
                    {{ type.name }}
                    <span class="badge">
                        {{ type.product_count }} <i class=accessible_elem>products of type {{ type.name }}</i>
                    </span>
                </h2>
            </caption>
            <tr>
                <th scope=col>Diopter</th>
                <th scope=col>Count</th>
            </tr>
            {% for p in t.products %}
                <tr class="clickable-row"
                    data-href="{{ route('product.show', [inventoryStatus, type, p.SphCorrected]) }}">
                    <td>
                        <a href="{{ route('product.show', [inventoryStatus, type, p.SphCorrected]) }}">
                            {{ p.SphCorrected }}
                        </a>
                    </td>
                    <td>{{ p.total }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}
