{% extends "base.twig" %}

{% block body %}
    <h1>{{ inventoryStatus.name | capitalize }} inventory</h1>
    <div class="col-xs-12 row">
        {% for t in typesCounts %}
            <p class="col-xs-2">
                <b>{{ t.name }}</b>: {{ t.product_count }}
            </p>
        {% endfor %}
    </div>
    <table class ="table table-striped" >
        <caption>
            <h2>
                {{ type.name }}
                <span class="badge">
                    {{ type.product_count }} <i class=accessible_elem>products of type {{ type.name }}</i>
                </span>
            </h2>
        </caption>
        <tr>
            <th scope=col>Diopter</th>
            <th scope=col>Count</th>
        </tr>
        {% for l in lenses %}
            <tr class="clickable-row"
                data-href="{{ route('inventory.show', [inventoryStatus, type, l.SphCorrected]) }}">
                <td>
                    <a href="{{ route('inventory.show', [inventoryStatus, type, l.SphCorrected]) }}">
                        {{ l.SphCorrected }}
                    </a>
                </td>
                <td>{{ l.total }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="text-center">
        {{ paginationLinks | raw }}
    </div>
{% endblock %}
