{% extends "base.twig" %}

{% block body %}
    {% if customers is defined and (customers|length > 0) %}
        <table class ="table table-striped" >
            <caption>
                <h2>
                    Customers
                    <span class="badge">
                        {{ customersTotal }}
                    </span>
                </h2>
            </caption>
            <tr>
                <th scope=col aria-label="Customer id column header">#</th>
                <th scope=col>Company name</th>
                <th scope=col>Contact name</th>
            </tr>
            {% for c in customers %}
                <tr class="clickable-row"
                    data-href="{{ route('customer.show', [c]) }}"
                >
                    <td>{{ c.id }}</td>
                    <td>{{ c.company_name }}</td>
                    <td>{{ c.last_name }} {{ c.first_name }}</td>
                </tr>
            {% endfor %}
        </table>
        <div class="text-center">
            {{ customers.links | raw }}
        </div>
    {% else %}
        <h1>Customers</h1>
        <p class="alert alert-info">
            No customers in the database.
        </p>
    {% endif %}
{% endblock %}
