{% extends "base.twig" %}

{% block body %}
    <h2>Search</h2>
    <form class="form-inline" action="{{ route('customer.search') }}" method="post">
        {{ csrf_field() }}
        <div class="form-group">
            <label class="" for="search_term">Search term</label>
                <input id="search_term" name="search_term" class="form-control"
                    type="text" value="" placeholder="name, country, id, ..."
                    autofocus
                >
        </div>
        <button class="btn btn-default" type="submit" name="submit">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
    </form>
    {% if customers is defined and (customers|length > 0) %}
        <table class ="table table-striped" >
            <caption>
                <h2>
                    Customers
                    <span class="badge" aria-label="Customer count">
                        {{ customersTotal }} <i class=accessible_elem>customers</i>
                    </span>
                </h2>
            </caption>
            <tr>
                <th scope=col aria-label="Customer id">#</th>
                <th scope=col>Company name</th>
                <th scope=col>Contact name</th>
            </tr>
            {% for c in customers %}
                <tr class="clickable-row"
                    data-href="{{ route('customer.show', [c]) }}"
                >
                    <td>
                        <a href="{{ route('customer.show', [c]) }}">
                            {{ c.id }}
                        </a>
                    </td>
                    <td>{{ c.company_name }}</td>
                    <td>{{ c.last_name }} {{ c.first_name }}</td>
                </tr>
            {% endfor %}
        </table>
        <div class="text-center">
            {{ customers.links | raw }}
        </div>
    {% else %}
        <h1>Customers</h1>
        <p class="alert alert-info">
            No customers in the database.
        </p>
    {% endif %}
{% endblock %}
