{% extends "base.twig" %}

{% block body %}
    <h1>{{ order.formattedId }}</h1>
    <div class="container">
        {% include "order/infos.twig" %}
        <a href="{{ route('order.edit', order) }}" class="btn btn-default">Edit</a>
        {% if order.orderStatus.name == 'opened' %}
        <a href="{{ route('order.shipping', order) }}" class="btn btn-default">Ship</a>
        <a href="{{ route('order.complete', order) }}" class="btn btn-default">Complete</a>
        {% endif %}
    </div>
    <h2>Order elements</h2>
    <div class="container">
        {% for productType, diopters in orderElements %}
            <h4>{{ productType }}</h4>
            {% for sph, elements in diopters %}
                <h5><b>Diopter</b> {{ sph }}</h5>
                <div class="row">
                    {% for item in elements %}
                        <p class="col-xs-6 col-sm-6">
                            <b>Assigned lens</b>
                            {% if element.lens is not null %}
                                {{ element.lens.sn }}
                            {% else %}
                                No lens assigned yet
                            {% endif %}
                        </p>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <a href="{{ route('order.index', 'opened') }}" class="btn btn-default">Back</a>
{% endblock %}
